@using IceProducts.Client.Components
@inherits LayoutComponentBase
@inject IJSRuntime _js


@*<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
*@

<MudLayout>
    <NavigationBar></NavigationBar>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

        <div class="container" >
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>Your safety is our priority</h1>
                    <h2>We are team of talented designers making websites with Bootstrap</h2>
                    <div class="d-flex">
                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="template/assets/img/26985452_v869-wan-20-fotor-2023080512150.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>
    <!-- End Hero -->


    <main id="main">
@*
        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                            <p class="description">
                                Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                                occaecati cupiditate non provident
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-card-checklist"></i></div>
                            <h4 class="title"><a href="">Dolor Sitema</a></h4>
                            <p class="description">
                                Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat tarad limino ata
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-clipboard-data"></i></div>
                            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                            <p class="description">
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
*@

        <section id="promotion-section">
            <div class="promotion-item">
                <div class="container" data-aos="fade-up" data-aos-once="true">
                    <div class="row">
                        <div class="col-lg-6 pt-5 pt-lg-0  order-lg-2 d-flex flex-column justify-content-center">
                            <h1 class="align-self-baseline display-2 fw-bold"> Safety</h1>
                            <p class="lead">
                                Crow's nest schooner ho scallywag hail-shot gabion salmagundi. Doubloon careen code of
                                conduct lugsail hulk ye long clothes.Crow's nest schooner ho scallywag hail-shot gabion salmagundi.
                                Doubloon
                                careen code of
                                conduct lugsail hulk ye long clothes
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-1">
                            <img src="template/assets/img/hero-img.png" class="img-fluid p-3" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="promotion-item bg-light">
                <div class="container" data-aos="fade-up" data-aos-once="true">
                    <div class="row">
                        <div class="col-lg-6 pt-5 pt-lg-0 order-1 order-lg-1 order-md-1 order-sm-1  d-flex flex-column justify-content-center">
                            <h1 class="align-self-baseline display-2 fw-bold"> Safety</h1>
                            <p class="lead">
                                Crow's nest schooner ho scallywag hail-shot gabion salmagundi. Doubloon careen code of
                                conduct lugsail hulk ye long clothes.Crow's nest schooner ho scallywag hail-shot gabion salmagundi.
                                Doubloon
                                careen code of
                                conduct lugsail hulk ye long clothes
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2">
                            <img src="template/assets/img/handsa8.png" class="img-fluid p-3" alt="">
                        </div>
                    </div>
                </div>
            </div>


            <div class="promotion-item">
                <div class="container" data-aos="fade-up" data-aos-once="true">
                    <div class="row">
                        <div class="col-lg-6 pt-5 pt-lg-0  order-lg-2 d-flex flex-column justify-content-center">
                            <h1 class="align-self-baseline display-2 fw-bold"> Safety</h1>
                            <p class="lead">
                                Crow's nest schooner ho scallywag hail-shot gabion salmagundi. Doubloon careen code of
                                conduct lugsail hulk ye long clothes.Crow's nest schooner ho scallywag hail-shot gabion salmagundi.
                                Doubloon
                                careen code of
                                conduct lugsail hulk ye long clothes
                            </p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-1">
                            <img src="template/assets/img/handsa10.png" class="img-fluid p-3" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </section>



        @Body
    </main>



</MudLayout>


  
@code{
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var targetUrl = "/template/assets/js/main.js";
        await _js.InvokeVoidAsync("loadJs", targetUrl);

    }
}