@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
    @Body
</MudLayout>


@*<MudLayout>
    <main id="main">
        @Body
    </main>
</MudLayout>*@