@page "/admin"
@using IceProducts.Client.Components
@layout AdminLayout




<MudIconButton Icon="@Icons.Material.Filled.Add" Style="border-radius:50%; position:fixed; bottom:0; right:0; padding:10px; margin:20px;" Variant="Variant.Filled" Color="Color.Default" Size="Size.Large" />

<Table>

</Table>


@code {

    
}
