@using Blazored.LocalStorage;
@using IceProducts.Shared.InputModels;
@using IceProducts.Shared.Responses;
@using System.Net.Http.Headers;


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <EditForm Model="ChangePasswordModel" OnSubmit="ChangePassword" class="login100-form">

                <div class="alert alert-warning text-center" hidden="@_errorHidden" role="alert">
                    Passwords don't match
                </div>

                <span class="login100-form-title" style="padding-bottom:26px;font-family:Calibri">
                    Change Password
                </span>

                <span class="login100-form-title" style="padding-bottom:48px;">
                    <i class="bi bi-eye" style="width: 112px;"></i>
                </span>

                <div class="form-group mt-2">
                    <span><i class="bi bi-lock"></i></span>
                    <InputText @bind-Value="ChangePasswordModel.NewPassword" type="password" class="form-field" placeholder="New Password" style="outline:none;"></InputText>
                </div>

                <div class="form-group mt-2">
                    <span><i class="bi bi-lock"></i></span>
                    <InputText @bind-Value="_confirmPassword" class="form-field" placeholder="Confirm Password" style="outline:none;"></InputText>
                </div>



                <div class="alert alert-danger text-center mt-2" hidden="@_validationMessageHidden" role="alert">
                    <ul>
                        @foreach (var error in _validationMessages)
                        {
                            <li>@error</li>
                        }
                    </ul>
                </div>


                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-dark" style="padding:8px 35px;box-shadow:none;" disabled="@_isLoggingIn">
                        @if (_isLoggingIn)
                        {
                            <span class="simple-loader"></span>
                        }
                        else
                        {
                            <span>Save</span>
                        }
                    </button>
                </div>
               
            </EditForm>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public ChangePasswordInputModel ChangePasswordModel { get; set; }

    [Inject]
    public ILocalStorageService LocalStorage { get; set; }


    [Inject]
    public HttpClient HttpRequest { get; set; }

    [Inject]
    public ISnackbar SnackBar { get; set; }

    private string _confirmPassword { get; set; } = string.Empty;
    private bool _disableSubmit = false;
    private bool _isLoggingIn = false;
    private bool _isMatch = true;
    private bool _errorHidden = true;


    private bool _validationMessageHidden = true;
    private string[] _validationMessages = Array.Empty<string>();


    private async Task ChangePassword()
    {
        _errorHidden = true;
        _validationMessageHidden = true;

        HttpRequest.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", await LocalStorage.GetItemAsStringAsync("accessToken"));

        if (ChangePasswordModel.NewPassword != _confirmPassword)
        {
            _isMatch = false;
            _errorHidden = false;
            return;
        }

        _isMatch = true;
        _disableSubmit = true;
        _isLoggingIn = true;

        string apiPath = "api/user/changePassword";
        var response = await HttpRequest.PostAsJsonAsync(apiPath, ChangePasswordModel);

        if (response.IsSuccessStatusCode)
        {
            SnackBar.Add("Password changed successfully", Severity.Success);   
        }
        else
        {
            var errors = await response.Content.ReadFromJsonAsync<BaseResponse>();
            _validationMessages = errors?.Message.Split(Environment.NewLine);
            _validationMessageHidden = false;
        }

        _disableSubmit = false;
        _isLoggingIn = false;
    }

}
