@using Blazored.LocalStorage;
@using IceProducts.Shared.Dtos;
@using IceProducts.Shared.InputModels;
@using Microsoft.AspNetCore.Http;
@using System.Net.Http.Headers;
<EditForm class="form p-2" Model="TableProduct" OnValidSubmit="Update">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <MudDialog>

        <DialogContent>

            <div class="container row d-flex justify-content-center align-items-center">

                <div class="col-6">
                    <ImagePreviewer UniqueFileInputId="TableProduct.Id" OriginalImage="TableProduct.Image"  BindUploadedImageTo="updateProductInput"></ImagePreviewer>
                </div>
                <div class="col-6">
                    <InputText style="outline:none;box-shadow:none;" class="form-control" placeholder="Name" id="name"  @bind-Value="updateProductInput.Name"></InputText>
                    <InputText style="outline:none;box-shadow:none;" class="form-control mt-3" placeholder="Sizes [Large,small...] " id="sizes" @bind-Value="updateProductInput.Sizes"></InputText>
                    <InputText style="outline:none;box-shadow:none;" class="form-control mt-3" id="description" @bind-Value="updateProductInput.SmallDescription" placeholder="small description"></InputText>
                    <InputTextArea style="outline:none;box-shadow:none;" rows="5" class="form-control mt-3" id="longdescription" placeholder="detailed description" @bind-Value="updateProductInput.LongDescription"></InputTextArea>
                </div>
            </div>
           

            <ValidationSummary></ValidationSummary>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton Color="Color.Primary" Disabled="@_isSaving" ButtonType="ButtonType.Submit">
                @if (_isSaving)
                {
                    <span class="simple-loader"></span>
                }
                else
                {
                    <span>Save</span>
                }
            </MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public ProductDto TableProduct { get; set; } = new ProductDto();

    [Parameter] public HashSet<ProductDto> TableProducts { get; set; } = new HashSet<ProductDto>();

    [Inject] public HttpClient HttpRequest { get; set; }

    [Inject]
    public ILocalStorageService LocalStorage { get; set; }

    private static readonly HashSet<string> acceptedExtenstions =
    new HashSet<string> {
            "image/apng",
            "image/bmp",
            "image/gif",
            "image/jpeg",
            "image/pjpeg",
            "image/png",
            "image/svg+xml",
            "image/tiff",
            "image/webp",
            "image/x-icon"
            };

    public UpdateProductInputModel updateProductInput { get; set; } = new UpdateProductInputModel();
    private bool _disableSubmit = false;
    private bool _isSaving = false;

    private void Cancel() {
        MudDialog.Cancel();
    }


    private async Task Update()
    {
        _disableSubmit = true;
        _isSaving = true;
        HttpRequest.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", await LocalStorage.GetItemAsStringAsync("accessToken"));

        string apiPath = $"api/product";
        var response = await HttpRequest.PutAsJsonAsync($"{apiPath}/{TableProduct.Id}", updateProductInput);


        if (response.IsSuccessStatusCode)
        {
            var returnedProduct = new ProductDto
            {
                Id = TableProduct.Id,
                Name = updateProductInput.Name,
                LongDescription = updateProductInput.LongDescription,
                SmallDescription = updateProductInput.SmallDescription
            };

            if(updateProductInput.ImageData?.Image != null)
            {
                returnedProduct.Image = updateProductInput.ImageData.Image;
            }
            else
            {
                returnedProduct.Image = TableProduct.Image;
            }

            MudDialog.Close(DialogResult.Ok(returnedProduct));
        }
        else
        {
            // do something later
        }
        _disableSubmit = false;
        _isSaving = false;
    }


    protected override void OnParametersSet()
    {
        updateProductInput.Name = TableProduct.Name;
        updateProductInput.Sizes = TableProduct.Sizes;
        updateProductInput.SmallDescription = TableProduct.SmallDescription;
        updateProductInput.LongDescription = TableProduct.LongDescription;
    }
}
