<div class="card product-content" style="width: 18rem;">
    <img src="./template/assets/img/sanitizer.jpg" style="width: 100%;height: 12rem;" class="card-img-top product-img"
         alt="product">
    <div class="card-body">
        <h4 class="card-title">Johnosn and johnson</h4>
        <p class="card-text">
            A hand sanitizer is a gel, liquid, or foam-based substance
            containing alcohol or other
            disinfectant agents
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h6>25$</h6>
        </li>
    </ul>
    <div class="card-body">
        <p class="card-text-light">
            available:
            <span class="number-description"> 25</span>
        </p>
    </div>

    <div class="card-footer">
        <button class="btn btn-primary w-100">View more</button>
    </div>
</div>


<style>
    .card-body {
        margin-bottom: -12px;
    }

    .product-content {
        padding: 2px;
        width: 24%;
        margin: 5px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: .4s;
    }

    .product-img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .product-content:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        transform: translate(0px, -8px);
        transition: .6s;
    }

    p {
        text-align: center;
        color: #b2bec3;
        padding: 0 8px;
        font-family: Nunito Sans;
    }


    h6 {
        font-size: 18px;
        text-align: center;
        color: #222f3e;
        margin: 0;
        font-family: Nunito Sans;
    }


    .number-description {
        font-size: 15px;
        text-align: center;
        color: #222f3e;
        margin: 0;
        font-family: Nunito Sans;
    }
</style>


@code {

}
