<div class="card product-content" style="width: 18rem;">
    <img src="./template/assets/img/about.png" style="height: 250px;" class="card-img-top product-img" alt="product">

    <div class="card-body">
        <h4 class="card-title">Purel gel</h4>
        <p class="card-text">some description gay some description gay some description gay</p>
    </div>
    <div class="card-footer bg-light">
        <button class="btn text-dark fw-bold btn-outline-light w-100">
            view more
        </button>
    </div>
</div>

<style>
    .card-body {
        margin-bottom: -8px;
    }

    .product-content {
        padding: 2px;
        width: 24%;
        margin: 15px;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: .4s;
    }

    .product-img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .product-content:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        transform: translate(0px, -8px);
        transition: .6s;
    }

    .product-content p {
        text-align: center;
        color: #b2bec3;
        padding: 0 8px;
        font-family: Nunito Sans;
    }


    .product-content h6 {
        font-size: 26px;
        text-align: center;
        color: #222f3e;
        margin: 0;
        font-family: Nunito Sans;
    }

</style>

@code{

    }