@using IceProducts.Shared.Dtos;
@inject IDialogService Dialog

<div class="main-content">
                <div class="container">
                    <!-- Table -->
                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <h3 class="mb-0 text-center">Products</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Sizes</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var product in Products)
                                            {
                                                <tr>
                                                    <th scope="row">
                                                        <div class="media align-items-center">
                                                            @* <a href="#" class="avatar rounded-circle mr-3">
                                                                @if(product.Image != null)
                                                                {
                                                                    <img alt="Image placeholder"
                                                                         src="data:image;base64,@Convert.ToBase64String(product.Image)">

                                                                }
                                                            </a> *@
                                                            <div class="media-body">
                                                                <span class="mb-0 text-sm">@product.Name</span>
                                                            </div>
                                                        </div>
                                                    </th>

                                                    <td>
                                                        @product.SmallDescription
                                                    </td>

                                                    <td>
                                                        @product.Sizes
                                                    </td>

                                                    <td>
                                            <button class="btn btn-sm bg-primary text-white" style=" outline:none;box-shadow:none;" @onclick="@((e) => OpenDialog(maxWidth, product))">
                                                            <i class="bi bi-pen fs-6"></i>
                                                        </button>
                                                        <button class="btn btn-sm bg-danger text-white" style=" outline:none;box-shadow:none;" @onclick="() => Delete(product)">
                                                            <i class="bi bi-trash fs-6"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                            }

                                        </tbody>
                                    </table>
                                </div>

                                <div class="card-footer py-4">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

@code {

    [Parameter]
    public HashSet<ProductDto> Products { set; get; } = new HashSet<ProductDto>();

    private void Delete(ProductDto selected)
    {
        Products.Remove(selected);
    }

    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    private async Task OpenDialog(DialogOptions options, ProductDto selectedproduct)
    {
        var dialogResult = Dialog.Show<EditProductDialogue>("Edit Product", new DialogParameters { ["TableProduct"] = selectedproduct }, maxWidth);

        if (dialogResult.Result.IsCanceled)
        {
            return;
        }

        var updateProduct = await dialogResult.GetReturnValueAsync<ProductDto>();
        selectedproduct = updateProduct;
    }

}                                            