@using Blazored.LocalStorage;
@using IceProducts.Shared.Dtos;
@using IceProducts.Shared.InputModels;
@using System.Net.Http.Headers;
@inject IDialogService Dialog

<div class="main-content">
                <div class="container">
                    <!-- Table -->
                    <div class="row">
                        <div class="col">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <h3 class="mb-0 text-center">Products</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Sizes</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var product in Products)
                                            {
                                                <tr>
                                                    <th scope="row">
                                                        <div class="media align-items-center">
                                                            <a href="#" class="avatar rounded-circle mr-3">
                                                                @if(product?.Image != null)
                                                                {
                                                                    <img alt="Image placeholder"
                                                                         src="data:image;base64,@Convert.ToBase64String(product?.Image)" style="width:100%;height:100%;">
                                                                }
                                                            </a> 
                                                            <div class="media-body">
                                                                <span class="mb-0 text-sm">@product?.Name</span>
                                                            </div>
                                                        </div>
                                                    </th>

                                                    <td>
                                                        @product?.SmallDescription
                                                    </td>

                                                    <td>
                                                        @product?.Sizes
                                                    </td>

                                                    <td>
                                            <button class="btn btn-sm bg-primary text-white" style=" outline:none;box-shadow:none;" @onclick="@((e) => OpenDialog(maxWidth, product))">
                                                            <i class="bi bi-pen fs-6"></i>
                                                        </button>
                                                        <button class="btn btn-sm bg-danger text-white" style=" outline:none;box-shadow:none;" @onclick="() => Delete(product)">
                                                            <i class="bi bi-trash fs-6"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                            }

                                        </tbody>
                                    </table>
                                </div>

                                <div class="card-footer py-4">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

@code {

    [Parameter]
    public HashSet<ProductDto> Products { set; get; } = new HashSet<ProductDto>();

    [Inject]
    public HttpClient HttpRequest { get; set; }

    [Inject]
    public ILocalStorageService LocalStorage { get; set; }

    private async Task Delete(ProductDto selected)
    {
        string apiPath = "api/product";
        var response = await HttpRequest.DeleteAsync($"{apiPath}/{selected.Id}");

        if (response.IsSuccessStatusCode)
        {
            Products.Remove(selected);
        }
        else
        {
            //do something later
        }
    }

    DialogOptions maxWidth = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true };

    private async Task OpenDialog(DialogOptions options, ProductDto selectedproduct)
    {
        UpdateProductInputModel updateProductInputModel = new UpdateProductInputModel();

        var dialogResult = Dialog.Show<EditProductDialogue>("Edit Product", new DialogParameters { ["TableProduct"] = selectedproduct }, maxWidth);
        var userChoice = await dialogResult.Result;

        if (!userChoice.Canceled)
        {
            var updatedProduct = await dialogResult.GetReturnValueAsync<ProductDto>();
            UpdateProductLocally(selectedproduct, updatedProduct);            
        }

    }

    private void UpdateProductLocally(ProductDto oldProduct, ProductDto newProduct)
    {
        oldProduct.Id = newProduct.Id;//no need bas why not
        oldProduct.Name = newProduct.Name;
        oldProduct.LongDescription = newProduct.LongDescription;
        oldProduct.SmallDescription = newProduct.SmallDescription;
        oldProduct.Image = newProduct.Image;
        StateHasChanged();
    }


    protected override async Task OnInitializedAsync()
    {
        var token = await LocalStorage.GetItemAsStringAsync("accessToken");
        HttpRequest.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
    }
}                                            